@model HealthAppFrontend.Models.CreateDoctorFront

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateDoctorFront</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="firstname" class="control-label"></label>
                <input asp-for="firstname" class="form-control" />
                <span asp-validation-for="firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastname" class="control-label"></label>
                <input asp-for="lastname" class="form-control" />
                <span asp-validation-for="lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="birthdate" class="control-label"></label>
                <input asp-for="birthdate" class="form-control" />
                <span asp-validation-for="birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="graduation_date" class="control-label"></label>
                <input asp-for="graduation_date" class="form-control" />
                <span asp-validation-for="graduation_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone_number" class="control-label"></label>
                <input asp-for="phone_number" class="form-control" />
                <span asp-validation-for="phone_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="specialty" class="control-label"></label>
                <input asp-for="specialty" class="form-control" />
                <span asp-validation-for="specialty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="center" class="control-label"></label>
                <input asp-for="center" class="form-control" />
                <span asp-validation-for="center" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
