@page
@model IndexModel
@{
	ViewData["Title"] = "Doctores";
}

<div class="text-center">

	<div class="bg-success text-dark bg-opacity-10 p-5 mb-5">
		<h1 class="display-4">Doctor</h1>
	</div>


	<div class="row">
		<div class="col-6">
			<img src="https://images.pexels.com/photos/4167541/pexels-photo-4167541.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-fluid rounded" style="height: 500px" alt="Responsive image">
		</div>

		<div class="col-6 d-flex flex-column align-content-center justify-content-center">
			<div class="d-flex flex-column">

				<div class="d-flex flex-row justify-content-between">

					<span class="fs-5 font-weight-bold">Nombre:</span>

					<span>dwlekdnwelkndwlkd</span>
				</div>

				<div class="d-flex flex-row justify-content-between">

					<span class="fs-5">Carrera:</span>

					<span>dwlekdnwelkndwlkd</span>
				</div>

				<div class="d-flex flex-row justify-content-between">

					<span class="fs-5">Fecha de Nacimiento:</span>

					<span>dwlekdnwelkndwlkd</span>
				</div>

				<div class="d-flex flex-row justify-content-between">

					<span class="fs-5">Fecha de Graduación:</span>

					<span>dwlekdnwelkndwlkd</span>
				</div>

				<div class="d-flex flex-row justify-content-between">

					<span class="fs-5">Número Telefonico:</span>

					<span>dwlekdnwelkndwlkd</span>
				</div>

				<div class="d-flex flex-row justify-content-between">

					<span class="fs-5">Correo Electrónico:</span>

					<span>dwlekdnwelkndwlkd</span>
				</div>

				<div class="d-flex flex-row justify-content-between">

					<span class="fs-5 font-weight-bold">Especialidad:</span>

					<a href="#">
						<span>Cirugia General</span>
					</a>

				</div>

				<div class="d-flex flex-row justify-content-between">

					<span class="fs-5 font-weight-bold">Centro Medico:</span>

					<a href="#">
						<span>Gral. David Muller</span>
					</a>
				</div>



				<div class="flex-row justify-content-between mt-5">


					@*<a href="Doctors/Doctor/3">*@
					<button class="btn btn-primary mb-2" href="Doctors/Doctor/3">Editar</button>
					@*</a>*@



					<button class="btn btn-danger mb-2">Eliminar</button>

				</div>
			</div>
		</div>


	</div>
