@page
@model IndexModel
@{
	ViewData["Title"] = "Doctores";
}

<div class="text-center">

	<div class="bg-success text-dark bg-opacity-10 p-5 mb-5">
		<h1 class="display-4">Especialidad</h1>
	</div>


	<div class="row">
		<div class="col mb-5">
			<div class="card" style="width: 18rem">
				<div class="card-body">
					<h5 class="card-title">Doctores</h5>
					<div class="d-flex flex-column mb-2">

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>


					</div>

					<a href="#" class="btn btn-primary">Ver más</a>
				</div>
			</div>
		</div>
		<div class="col mb-5">
			<div class="card" style="width: 18rem">
				<div class="card-body">
					<h5 class="card-title">Doctores</h5>
					<div class="d-flex flex-column mb-2">

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>


					</div>

					<a href="#" class="btn btn-primary">Ver más</a>
				</div>
			</div>
		</div>


		<div class="col mb-5">
			<div class="card" style="width: 18rem">
				<div class="card-body">
					<h5 class="card-title">Doctores</h5>
					<div class="d-flex flex-column mb-2">

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>


					</div>

					<a href="#" class="btn btn-primary">Ver más</a>
				</div>
			</div>
		</div>

		<div class="col mb-5">
			<div class="card" style="width: 18rem">
				<div class="card-body">
					<h5 class="card-title">Doctores</h5>
					<div class="d-flex flex-column mb-2">

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>


					</div>

					<a href="#" class="btn btn-primary">Ver más</a>
				</div>
			</div>
		</div>

		<div class="col mb-5">
			<div class="card" style="width: 18rem">
				<div class="card-body">
					<h5 class="card-title">Doctores</h5>
					<div class="d-flex flex-column mb-2">

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>


					</div>

					<a href="#" class="btn btn-primary">Ver más</a>
				</div>
			</div>
		</div>

		<div class="col mb-5">
			<div class="card" style="width: 18rem">
				<div class="card-body">
					<h5 class="card-title">Doctores</h5>
					<div class="d-flex flex-column mb-2">

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>


					</div>

					<a href="#" class="btn btn-primary">Ver más</a>
				</div>
			</div>
		</div>
	</div>








</div>
