@page
@model IndexModel
@{
	ViewData["Title"] = "Doctores";
}

<div class="text-center">

	<div class="bg-success text-dark bg-opacity-10 p-5 mb-5">
		<h1 class="display-4">Especialidades</h1>
	</div>

	
	<span class="fw-bold fs-5">Agregar una nueva Especialidad</span>
	<div class="d-flex justify-content-center align-content-center mt-4 mb-4">
		<form class="w-50">
			<div class="form-group">
				<label class="text-start w-100" for="exampleInputEmail1">Campo</label>
				<input type="email" class="form-control mt-1 mb-1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">				
			</div>
			<div class="form-group">
				<label class="text-start w-100" for="exampleInputPassword1">Especialidad</label>
				<input type="password" class="form-control mt-1 mb-1" id="exampleInputPassword1" placeholder="Password">
			</div>

			<div class="form-group">
				<label class="text-start w-100" for="exampleInputPassword1">Descripcion</label>
				<input type="password" class="form-control mt-1 mb-1" id="exampleInputPassword1" placeholder="Password">
			</div>

			<button type="submit" class="btn btn-primary mt-2">Submit</button>
		</form>
	</div>


	<span class="fw-bold fs-5">Editar Especialidad</span>
	<div class="d-flex justify-content-center align-content-center mt-4 mb-4">
		<form class="w-50">
			<div class="form-group">
				<label class="text-start w-100" for="exampleInputEmail1">Descripción</label>
				<input type="email" class="form-control mt-1 mb-1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">				
			</div>			

			<button type="submit" class="btn btn-primary mt-2">Submit</button>
		</form>
	</div>




	<div class="row">
		<div class="col mb-5">
			<div class="card" style="width: 18rem">
				<div class="card-body">
					<h5 class="card-title">Especialidad</h5>
					<div class="d-flex flex-column mb-2">

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>


					</div>

					<a href="/ClinicalSpecialties/ClinicalSpecialty" class="btn btn-primary">Ver más</a>
				</div>
			</div>
		</div>

				<div class="col mb-5">
			<div class="card" style="width: 18rem">
				<div class="card-body">
					<h5 class="card-title">Especialidad</h5>
					<div class="d-flex flex-column mb-2">

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>


					</div>

					<a href="/ClinicalSpecialties/ClinicalSpecialty" class="btn btn-primary">Ver más</a>
				</div>
			</div>
		</div>


				<div class="col mb-5">
			<div class="card" style="width: 18rem">
				<div class="card-body">
					<h5 class="card-title">Especialidad</h5>
					<div class="d-flex flex-column mb-2">

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>

						<div class="f-flex justify-content-between mb-1">
							<p class="card-text" style="text-align: left">dlnlkn dlwkendlw lwd</p>
						</div>


					</div>

					<a href="/ClinicalSpecialties/ClinicalSpecialty" class="btn btn-primary">Ver más</a>
				</div>
			</div>
		</div>



		
	</div>

</div>
